/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
::-webkit-scrollbar {
display: none;
}  

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
    overflow: hidden; 
    height: 100%; 
    position: absolute; 
 }
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: "Raleway", sans-serif;
} 
.more a:focus {
    outline: none;
}
.more a{
	font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 37px;
    background: black;
    border-radius: 8px 8px 8px 8px; 
    color: #fff;
    width: 250px; 
    height: 45px; 
    margin-bottom: 50px; 
}
.btn{
  display: inline-block;
  text-decoration: none;
  color: white;    
  margin-bottom: -90px;
  margin-left: 80%;
  width: 120px;
  height: 120px;
  line-height: 30px;
  border-radius: 50%;
  border: solid 7px white;
  padding-bottom: 20px;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn svg{
    padding-top: 7px;
}

.btn:hover {
    background: white;
    color: dodgerblue;
}
p{
	margin:0;
	font-size:14px;
}

.background-video {
	position: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height:100%;
}
/*-- banner --*/
.busqueda{ 
    width: 500px; 
    height: 50px; 
    margin-top: 50px; 
    margin-bottom: 70px;
    font-size: 20px; 
    padding-left: 5px; 
    font-weight: bold; 
    border: 1px solid #4195fc; /* some kind of blue border */

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

}

.center-container{
	padding:0em 0 8em;
	background: rgba(0, 0, 0, 0.28);
    width: 100%;
	height:100%;
}
.navigation{
	padding:3em 0;
	background:#000;
}
.logo{
    padding-left: 35%;
    padding-top: 25px; 
	float:center;
}

.encabezado{
    padding-left: 27%;
    padding-top: 10px; 
	float:center;
} 

.encabezado h1  {
    font-size:40px;
    color: #fff;
    padding-left: 40px; 
    text-decoration: none;
    text-transform: uppercase;
}

.navigation {
    padding:1em 0em;
    background:rgba(0, 0, 0, 0.53);
}
span.menu{
	display:none;
}

.w3ls_banner_info{
    padding: 10em 0 0;
	text-align:center;
}
.logo h1  {
    font-size:40px;
    color: #fff;
    padding-left: 40px; 
    text-decoration: none;
    text-transform: uppercase;
}
.w3l_banner_logo{
	width: 63%;
    margin: 0 auto;
}
.w3l_banner_logo h2{
	font-size: 5em;
    color: #fff;
    line-height: 1.3;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
}

.modal-header {
    font-size: 2em;
    color:#4BC319;
}


.modal-body p {
    color: #999;
    text-align: left;
	padding:2em 2em 3em;
	margin: 0 !important;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
}
.modal-body {
    padding:2em 0 0;
}

/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
/*-- w3layouts --*/
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: dodgerblue;
    height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}


/*-- social-icons --*/
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/*-----start-responsive-design------*/
@media (max-width:1680px){
	.banner-bottom-image-text-left {
		padding: 5em 10em 8.95em 20em;
	}
}
@media (max-width:1600px){
	.banner-bottom-image-text-left {
		padding: 5em 10em 6.95em 18em;
	}
}
@media (max-width: 1440px){
	.banner-bottom-image-text-left {
		padding: 4em 10em 3.95em 11em;
	}
	.w3agile_gallery_grid figure {
		height: 243.5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 25px;
	}
	.w3_copy_right {
		margin:5.4em 0 0;
	}
	.w3agile_contact_left {
		padding: 5em 4em 5em 11em;
	}
	.w3agile_contact_right {
		padding: 9.8em 13em 5em 5em;
	}
}
@media (max-width: 1366px){
	.w3ls_banner_info {
		padding: 8em 0 0;
	}
	.w3ls_banner_info p {
		margin-bottom: 4em;
	}
	.center-container {
		padding: 0em 0 6em;
	}
	.banner-bottom-image-text-left {
		padding:3em 5em 3.2em 8em;
	}
	.team-bottom {
		min-height: 460px;
		padding: 4em 0;
	}
	.w3_book_date {
		width: 37.3%;
	}
	.w3agile_gallery_grid figure {
		height: 231.5px;
	}
}
@media (max-width: 1280px){
	.team, .gallery, .testimonials, .about {
		padding: 4em 0;
	}
	.banner-bottom {
		padding: 4em 0 0;
	}
	.banner-bottom-image-text-left {
		padding: 3em 3em 4.1em 5em;
	}
	.w3_book_date {
		width: 35.3%;
	}
	.w3_working_time {
		width: 28.8%;
	}
	.w3agile_gallery_grid figure {
		height: 216.5px;
	}
	.w3agile_gallery_grid figcaption p {
		font-size: 13px;
	}
	.w3agile_contact_left {
		padding: 4em 4em 4em 5em;
	}
	.w3agile_contact_right {
		padding:9.55em 3em 5em 4em;
	}
}
@media (max-width: 1080px){
	.w3ls_banner_info {
		padding: 6em 0 0;
	}
	.w3ls_banner_info h3 {
		margin: 2em 0 1.5em;
	}
	.center-container {
		padding: 0em 0 5em;
	}
	.wthree_banner_bottom_left {
		padding: 0;
	}
	.wthree_banner_bottom_right p {
		margin: 1em 0 1em;
	}
	.wthree_banner_bottom_right ol {
		padding: 0 0 0 1em;
	}
	.banner-bottom-image-text-left h4 {
		font-size:1.28em;
	}
	.banner-bottom-image-text-left p {
		margin: 2em 0;
	}
	.banner-bottom-image-text-left {
		padding:3em 3em 2.1em 3.7em;
	}
	.team h3:before, .team-bottom h3:before, .gallery h3:before, .testimonials h3:before {
		width: 9%;
		left:45.5%;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 20%;
		right:40%;
	}
	.view, .view .mask, .view .content {
		width: 205px;
		height: 240px;
	}
	.view h5 {
		font-size: 1.4em;
		margin: 2em 0 .5em;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.6em;
	}
	.reservation {
		width: 85%;
	}
	.w3_book_date {
		width: 32%;
	}
	.w3agile_gallery_grid figure {
		height: 181.5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 21px;
		margin-top: 25px;
	}
	.tabcontent-grids p {
		width: 80%;
	}
	.w3agile_contact_left {
		padding: 3em 2em 3em 3em;
	}
	.w3agile_contact_left p {
		margin: 3em 0 2em;
	}
	.w3agile_contact_right {
		padding:6.5em 3em 5.5em 3em;
	}
	.w3agile_contact_right_agileinfo h4 {
		font-size: 1.8em;
	}
	.w3agile_contact_right_agileinfo p span {
		padding-right: 1em;
	}
	.w3agile_contact_right_agileinfo p i {
		padding-left: 2em;
	}
	.w3agile_contact_right_agileinfo {
		padding: 0;
	}
}
@media (max-width: 1024px){
	.agileits_about_grid_left {
		margin: 2em 0 0em;
	}
	.banner-bottom-image-text-left h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		font-size:2em;
	}
	.banner-bottom-image-text-left h4 {
		font-size: 1.22em;
	}
	.banner-bottom-image-text-left {
		padding: 2em 3em 2.9em 3em;
	}
	.view h5 {
		margin: 1.7em 0 .5em;
	}
	.reservation input[type="submit"] {
		margin: 3em 0 0 20em;
	}
	.team-bottom {
		min-height: 420px;
		padding: 3em 0;
	}
	.w3_book_date {
		width: 31%;
	}
	.w3agile_gallery_grid figure {
		height: 172.5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 18px;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.8em;
	}
	.w3agile_contact_right_agileinfo {
		margin: 3em 0 0;
	}
	.w3agile_contact_right_agileinfo h4 {
		font-size: 1.5em;
	}
	.w3agile_contact_right_agileinfo p span {
		padding-right: 1em;
	}
	.w3agile_contact_right_agileinfo p i {
		padding-left: 1em;
	}
	.w3_copy_right {
		margin: 7.3em 0 0;
	}
}
@media (max-width:991px){
	.logo h1 a {
		font-size: 1.2em;
	}
	.navigation-right {
		margin: 0.5em 0 0;
	}
	.link-effect-3 a {
		margin: 0 15px;
	}
	.w3l_banner_logo {
		width: 80px;
		height: 80px;
	}
	.w3l_banner_logo h2 {
		font-size: 4em;
	}
	.w3ls_banner_info {
		padding: 5em 0 0;
	}
	.w3ls_banner_info h3 {
		font-size: 1.5em;
	}
	.center-container {
		padding: 0em 0 4em;
	}
	.agileits_about_grid_left {
		margin: 0;
	}
	.agileits_about_grid_right {
		margin: 3em 0 0;
	}
	.agileits_about_grid_right img {
		margin: 0 auto;
	}
	.wthree_banner_bottom_left {
		padding: 0 1em;
		width: 50%;
		margin: 0 auto;
	}
	.wthree_banner_bottom_right {
		margin: 3em 0 4em;
	}
	.banner-bottom-image-text-left {
		padding: 3em 10em;
	}
	.banner-bottom-image-text-left p {
		margin: 3em 0;
	}
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		bottom: -8%;
	}
	.banner-bottom-image-text-right img {
		width: auto;
		margin: 0 auto;
	}
	.agile_team_grid {
		float: left;
		width: 50%;
	}
	.agile_team_grid:nth-child(2) {
		margin-bottom:3em;
	}
	.view, .view .mask, .view .content {
		width: 270px;
		height: 315px;
		margin: 0 auto;
	}
	.view h5 {
		margin: 2.7em 0 .5em;
		font-size: 1.7em;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 25%;
		right: 37%;
		bottom: -8%;
	}
	.team-bottom p {
		width: 100%;
		margin: 2em auto 3em;
	}
	.reservation {
		width: 100%;
	}
	.team-bottom {
		min-height: 390px;
	}
	.w3agile_gallery_grid {
		float: left;
		width: 50%;
	}
	.w3agile_gallery_grid figure {
		height:333px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 2em;
		margin-top: 105px;
	}
	.nav-tabs {
		width: 55%;
	}
	.tabcontent-grids p {
		width: 100%;
	}
	.w3agile_contact_left,.w3agile_contact_right {
		padding: 3em 10em;
	}
	.w3_copy_right {
		margin: 3em 0 0;
	}
}
@media (max-width:800px){
	.banner-bottom-image-text-left {
		padding: 3em 3em;
	}
	.w3agile_gallery_grid figure {
		height: 268px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 75px;
	}
}
@media (max-width:768px){
	.team, .gallery, .testimonials, .about {
		padding: 3em 0;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 35%;
		right: 32%;
	}
	.team h3:before, .team-bottom h3:before, .gallery h3:before, .testimonials h3:before {
		width: 15%;
		left: 42.5%;
	}
	.reservation input[type="submit"] {
		margin: 3em 0 0 18em;
	}
	.w3agile_gallery_grid figure {
		height: 257px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 65px;
	}
	.tabcontent-grids {
		padding: 1em 0 0;
	}
	.w3agile_contact_left, .w3agile_contact_right {
		padding: 3em 3em;
	}
}
@media (max-width:667px){
	.logo h1 a {
		font-size: 1em;
	}
	.link-effect-3 a {
		margin: 0 10px;
	}
	.w3l_banner_logo h2 {
		font-size: 3em;
	}
	.w3l_banner_logo {
		width: 60px;
		height: 60px;
	}
	.w3ls_banner_info {
		padding: 4em 0 0;
	}
	.w3ls_banner_info h3 {
		font-size: 1.3em;
	}
	.w3ls_banner_info p {
		margin-bottom: 3em;
	}
	.center-container {
		padding: 0em 0 3em;
	}
}
@media (max-width:640px){
	.agileits_about_grid_left p {
		margin: 2em 0 0;
	}
	.wthree_banner_bottom_left {
		width: 70%;
	}
	.wthree_banner_bottom_right {
		margin: 3em 0 3em;
	}
	.reservation input[type="submit"] {
		margin: 2em 0 0 14em;
	}
	.w3agile_gallery_grid figure {
		height: 213px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 35px;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.6em;
	}
	.modal-body p i {
		margin: 1em 0 0;
	}
	.team h3, .team-bottom h3, .gallery h3, .testimonials h3 {
		font-size: 2.3em;
	}
}
@media (max-width:600px){
	.navigation-right ul li a {
		font-size: 14px;
	}
	.link-effect-3 a {
		margin: 0 6px;
	}
	.navigation-right {
		margin: 0.3em 0 0;
	}
}
@media (max-width:568px){
	.logo h1 a {
		font-size: .9em;
	}
	.w3l_banner_logo h2 {
		font-size: 2em;
	}
	.w3l_banner_logo {
		width: 40px;
		height: 40px;
	}
	.w3ls_banner_info {
		padding: 2em 0 0;
	}
	.w3ls_banner_info p {
		margin-bottom: 2em;
	}
	.banner-bottom-image-text-left {
		padding: 2em 2em;
	}
	.agile_team_grid {
		float: none;
		width: 100%;
	}
	.agile_team_grid:nth-child(2) {
		margin: 2em 0;
	}
	.agile_team_grid:nth-child(3) {
		margin-bottom:2em;
	}
}
@media (max-width:480px){
	span.menu {
		display: block;
		cursor: pointer;
		width: 100%;
		position: relative;
		text-align: center;
		margin: 0px;
	}
	.navigation-right ul {
		position: absolute;
		left: 2%;
		width: 96%;
		z-index: 999;
		text-align: center;
		padding: 0px;
		margin: 13px 0px 0px;
	}
	.navigation-right ul.nav1 li {
		display: inline-block;
		width: 100%;
		margin: 0px;
		padding: 10px 0em;
	}
	ul.nav1 {
		display: none;
		margin-top: 2em;
		background:rgb(66, 66, 66);
	}
	.navigation-right {
		margin: 0.7em 0 0;
	}
	.navigation-right ul li a {
		display: inline-block;
	}
	.navigation-right ul.nav1 li {
		padding: 5px 0;
	}
	.team, .gallery, .testimonials, .about {
		padding: 2em 0;
	}
	.banner-bottom-image-text-left h3,.team h3, .team-bottom h3, .gallery h3, .testimonials h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		font-size: 1.8em;
	}
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		width: 42%;
	}
	.agileits_about_grid_left,.wthree_banner_bottom_right {
		padding: 0;
	}
	.wthree_banner_bottom_right {
		margin: 2em 0;
	}
	.agileits_about_grid_right,.agile_team_grids {
		margin: 2em 0 0;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.4em;
	}
	.banner-bottom-image-text-left p {
		margin: 2em 0;
	}
	.team-bottom {
		padding: 2em 0;
	}
	.team-bottom p {
		margin: 2em auto;
	}
	.team-bottom{
		background-position: -350px 0px;
	}
	.w3_book_date {
		width: 100%;
		float: none;
	}
	.w3_working_time {
		width: 100%;
		float: none;
		margin: 0;
	}
	.w3_working_time:nth-child(2) {
		margin: 1em 0;
	}
	.reservation input[type="submit"] {
		margin: 2em 0 0 8em;
		width: 50%;
	}
	.w3agile_gallery_grid {
		float: none;
		width: 100%;
	}
	.w3agile_gallery_grids,.testimonials-grids,.w3_copy_right {
		margin: 2em 0 0;
	}
	.w3agile_gallery_grid figure {
		height: 317px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 110px;
	}
	.nav-tabs {
		width: 85%;
	}
	.w3agile_contact_left, .w3agile_contact_right {
		padding: 2em;
	}
	.w3agile_contact_left p {
		margin: 2em 0 2em;
	}
	.w3agile_contact_left input[type="submit"] {
		width: 50%;
		margin: 2em 0 0;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.3em;
	}
	.w3agile_contact_right_agileinfo {
		margin: 2em 0 0;
		float: none;
		width: 59%;
	}
	.w3agile_contact_right_agileinfo p i {
		padding-left: 2em;
	}
	.w3agile_contact_right_agileinfo:nth-child(3) {
		text-align: left;
	}
}
@media (max-width: 414px){
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		width: 50%;
	}
	.banner-bottom-image-text-left h3:before, .w3agile_contact_left h3:before, .agileits_about_grid_left h3:before {
		width: 25%;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 50%;
		right: 25%;
	}
	.team h3:before, .team-bottom h3:before, .gallery h3:before, .testimonials h3:before {
		width: 30%;
		left: 35.5%;
	}
	.banner-bottom-image-text-left h3, .team h3, .team-bottom h3, .gallery h3, .testimonials h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		line-height: 1.5em;
	}
	.reservation input[type="submit"] {
		margin: 1em 0 0;
		width: 100%;
	}
	.gallery {
		padding-left: 1em;
		padding-right: 1em;
	}
	.w3agile_gallery_grid figure {
		height: 252px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 70px;
	}
	.w3agile_contact_right_agileinfo {
		width: 70%;
	}
	.w3_copy_right p {
		text-align: center;
	}
}
@media (max-width:384px){
	.w3ls_banner_info h3 {
		font-size: 1.2em;
	}
	.wthree_banner_bottom_left {
		width: 90%;
	}
	.w3agile_gallery_grid figure {
		height: 232px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 55px;
		font-size: 1.8em;
	}
	.w3agile_contact_right_agileinfo {
		width: 80%;
	}
}
@media (max-width: 375px){
	.w3ls_banner_info h3 {
		font-size: 1.1em;
	}
	.navigation {
		padding: .5em 0em 1em;
	}
	.wthree_banner_bottom_left {
		width: 100%;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.3em;
	}
	.wthree_banner_bottom_right ol li {
		margin-bottom: 1em;
	}
	.banner-bottom-image-text-left {
		padding: 2em 1em;
	}
	.banner-bottom-image-text-left h4 {
		font-size: 1em;
	}
	.team-bottom {
		background-position: -510px 0px;
	}
	.w3agile_gallery_grid figure {
		height: 226px;
	}
	.testimonials-grids {
		margin: 1em 0 0;
	}
	.w3agile_contact_left, .w3agile_contact_right {
		padding: 2em 1em;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.1em;
	}
	.w3agile_contact_right_agileinfo {
		width: 76%;
	}
	.w3agile_contact_right_agileinfo h4 {
		font-size: 1.3em;
	}
	.modal-body p {
		padding: 1.5em;
	}
}
@media (max-width:320px){
	.logo h1 a {
		font-size: .8em;
	}
	.w3ls_banner_info h3 {
		font-size: .97em;
	}
	p,.wthree_banner_bottom_right ol li,.w3_book_date input[type="text"], #country, #country1,.w3agile_contact_left input[type="text"], .w3agile_contact_left input[type="email"],.w3agile_contact_left textarea{
		font-size: 13px;
	}
	.w3ls_banner_info p {
		margin-bottom: 1.5em;
	}
	.center-container {
		padding: 0em 0 2em;
	}
	.navigation-right ul li a {
		font-size: 13px;
		margin: 0;
	}
	.banner-bottom-image-text-left h3, .team h3, .team-bottom h3, .gallery h3, .testimonials h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		font-size: 1.6em;
	}
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		width: 55%;
	}
	.agileits_about_grid_left p {
		margin: 1.5em 0 0;
	}
	.agileits_about_grid_right {
		padding: 0;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.1em;
	}
	.banner-bottom-image-text-left p {
		margin: 2em 0 1em;
	}
	.view, .view .mask, .view .content {
		width: 243px;
		height: 283px;
	}
	.view h5 {
		font-size: 1.5em;
	}
	.w3agile_gallery_grid figure {
		height: 188px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 25px;
		font-size: 1.5em;
	}
	.modal-header {
		font-size: 1.6em;
	}
	.nav-tabs {
		width: 100%;
	}
	.nav-tabs > li > a {
		padding: 10px;
	}
	div#myTabContent {
		padding: 2em 0 0;
	}
	.w3agile_contact_left p {
		margin: 2em 0 1em;
	}
}

.tr, .td {
	font-family: "Open Sans", sans-serif;
} 

.inferior{
width: 100px;
height: 150px; 
padding-top: 100px;   
display: inline; 
} 

#helpbutton {
    display: inline-block; 
    filter: invert(100%);
    bottom: 0;
    width: 120px;
    right: 0;
    margin-top: 90px;
    margin-left: 5px;
    transition: 0.1s;
}