<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/dist/styles/jquery.carousel-3d.default.css">
  <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
  
  <!--<script src="http://localhost:35729/livereload.js"></script>-->
  <script src="../js/globalconfig.js"></script>
  <script src="../lib/bower_components/jquery/jquery.js"></script>
  <script src="../lib/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
  <script src="../lib/bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
  <script src="../lib/bower_components/modernizr/modernizr.js"></script>
  <script src="../css/dist/jquery.carousel-3d.js"></script>
  <script src="../lib/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>

  <style>
    html, body {
      margin: 0px;
    }
    .wrapper {
      width: 100%;
    }
    div {
      font-family: "Open Sans",sans-serif;
      font-size: 11pt;
    }
  </style>
</head>
<body id="hero">
<div class="hero-container"> 
<div class="wrapper">
  <div data-carousel-3d>
   <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/frente2.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">El auditorio más grande y moderno de la región</div>
      </div>
    <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/p2.jpg" style="width: auto; height: 215px;"/>
      <div style="background-color:black; color:white;">La mejor experiencia para la audiencia</div>
      </div> 
       <div class="mydraggable" style="min-width: 320px; min-height: 213px; max-width: 320px; max-height: 213px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/arriba.jpg" style="width: auto; height: 215px;"/>
      <div style="background-color:black; color:white;">Iluminación interna acorde al evento</div>
      </div>
       <div class="mydraggable" style="min-width: 320px; min-height: 213px; max-width: 320px; max-height: 213px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/alfrente.jpg" style="width: 100%"/>
      <div style="background-color:black; color:white;">Asientos cómodos y espaciosos</div>
      </div>
       <div class="mydraggable" style="min-width: 320px; min-height: 218px; max-width: 320px; max-height: 218px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/p3.jpg" style="width: auto; height: 215px;"/>
      <div style="background-color:black; color:white;">Acomodo flexible para usted</div>
      </div> 
       <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/lateral1.jpg" style="width: 100%"/>
      <div style="background-color:black; color:white;">El sistema de audio e iluminación más moderno</div>
      </div>
       <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/arriba2.jpg" style="width: auto; height:215px;"/>
      <div style="background-color:black; color:white;">Siempre la mejor vista del escenario</div>
      </div>
      <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/sillasderuedas.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">Servicio de sillas de ruedas sin costo</div>
      </div> 
      <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/hall.jpg" style="width: auto; height:215px;"/>
      <div style="background-color:black; color:white;">Acceso espacioso al evento</div>
      </div>
      <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/sala.jpg" style="width: auto; height: 215px;"/>
      <div style="background-color:black; color:white;">Puede esperar en nuestras muchas salas</div>
      </div> 
       <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/estacionamiento.jpg" style="width: auto; height:215px;"/>
      <div style="background-color:black; color:white;">Amplia área de estacionamiento</div>
      </div>
        <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/estacionamiento2.jpg" style="width: auto; height:215px;"/>
      <div style="background-color:black; color:white;">Ofrecemos seguridad para su automóvil</div>
      </div> 
      <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/discapacitados.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">Cajones exclusivos para discapacitados</div>
      </div> 
       <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/baños.jpg" style="width: 320px; height:215px;"/>
          <div style="background-color:black; color:white;">Sanitarios limpios para usted</div>
      </div> 
        <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/isla_alimentos.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">Gran variedad de snacks y bebidas</div>
      </div> 
      <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="img/cafe.jpg" style="width: auto; height: 215px;"/>
      <div style="background-color:black; color:white;">Disfrute de un buen café</div>
      </div> 
      <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/comedor.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">Quedese a comer antes o después de su evento</div>
      </div> 
       <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/bar.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">Disfrute de un buen trago</div>
      </div> 
        <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/botellas.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">La mejor selección en licores</div>
      </div> 
       <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/medico.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">Servicio médico para usted</div>
      </div> 
       <div class="mydraggable" style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
         <img src="img/atencion_clientes.jpg" style="width: auto; height:215px;"/>
          <div style="background-color:black; color:white;">La mejor atención a clientes</div>
      </div>
  </div>
</div> 
<a href="../index.html" class="btn"><i class="fas fa-home fa-4x"></i><br> Regresar</a>
</div>
<script>
  document.addEventListener('contextmenu', event => event.preventDefault());  
  </script>
</body>
</html>
